<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/newConnection.css">
    <link rel="stylesheet" href="../Styles/connections.css">
    <link rel="stylesheet" href="../Styles/connection.css">
    <link rel="stylesheet" href="../Styles/header.css">
    <link rel="stylesheet" href="../Styles/footer.css">

    <link rel="stylesheet" href="../../Styles/newConnection.css">
    <link rel="stylesheet" href="../../Styles/connections.css">
    <link rel="stylesheet" href="../../Styles/connection.css">
    <link rel="stylesheet" href="../../Styles/header.css">
    <link rel="stylesheet" href="../../Styles/footer.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" 
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" 
    crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Home</title>
</head>
<body>
    <div class="mainCont">
      <div class="header">
        <a href='/'><img src="/IMG/mclarenp1.jpg" class="navBarLogo" alt="carmeet llc"></a>
        <a href="/"><h2 class="title">CarGeeks LLC</h2></a>
        <nav>
            <ul class="userSpecificNav">
                    <li><a href='/events/newConnection'>Create Event</a></li>
                    <li><a href='/events'>Future Events</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="#">Log In</a></li>
                    
            </ul>
            
        </nav>
      </div>