<%- include('./partials/header.ejs')%>
  <div class="LCont">
  </div>
  <div class="CCont">
    <div>
      <img src="../IMG/Ferrada-Early-Risers-9-27-2020-4-1024x683.jpg" width="200" height="200" >
      <h3>About Us</h3>

      <p>CarGeeks LLC is a car meet organizer with a mission to provide a safe and enjoyable car meet experience for
        all.
        We are a group of individuals who have been in the car meet industry for over 10 years.
        Our headquarters are in Charlotte, NC. It is our pleasure to help you plan, create and run your own car meet, or
        find other car meets near you.</p>

    </div>
  </div>
  <div class="RCont"></div>

  <%- include('./partials/footer.ejs')%>