<%- include('./partials/header.ejs')%>
  <div class="LCont">
  </div>
  <div class="CCont">
    <div>
      

      <img src="../IMG/profilepic.jpg" width="200" height="200" alt="organizer picture">


      <h2>
        Thanks for visiting CarGeeks LLC! 
      </h2>

      <p>
        This is a website for car meets. It is a website that allows users to create events and join events.
        Come enjoy cars with us!

      </p>
    </div>
  </div>
  <div class="RCont"></div>
  <%- include('./partials/footer.ejs')%>